numpy==1.26.4
scipy==1.13.1
zarr==2.12.0
numcodecs==0.11.0
hydra-core==1.3.2
omegaconf==2.3.0
dill==0.3.5.1
einops==0.4.1
diffusers==0.11.1
huggingface_hub==0.10.1
wandb==0.17.9
termcolor==2.4.0
tqdm==4.66.5
matplotlib==3.9.2
imageio==2.35.1
moviepy==1.0.3
av==12.3.0
gpustat==1.1.1
kornia==0.7.3
shapely==2.0.6
opencv-python-headless==4.10.0.84
